.all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  padding: 0.5em;

  background-color: var(--primary-color);
  font-family: "Segoe UI";
}

.logo {
  width: 10em;
  padding-left: 1em;
  cursor: pointer;
}

.subCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 3em;
}

.prodotti {
  margin-right: 1em;
  cursor: pointer;
  transition-duration: 0.1s;
}

.prodotti:hover {
  color: white;
}

.active {
  color: white;
}

.user {
  margin-right: 2em;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
}


.nomeUtente {
  display: inline-flex;
  font-weight: 700;
}

.content {
  background-color: var(--primary-color);
  display: none;
  position: absolute;
  min-width: 1em;

  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);

  padding: 1em;

  z-index: 1;

  transition-duration: 0.1s;
}

.search-container {
  background: #fff;
  height: 2em;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 15em;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 40vw;
  font-weight: 500;
  font-size: 16px;
}

.search-btn {
  transition: 0.4s;
}

.user:hover {
  color: white;
}


.drop1:hover .content {
  display: block;
}

.drop1:hover .user {
  color: white;
}

.content:hover {
  cursor: pointer;
}

.profilo:hover {
  color: white;
}

.logout:hover {
  color: white;
}

@media screen and (max-width: 1000px) {
  .search-container {
    background: transparent;
    transition: 0.4s;
    margin-right: 1.5em;
  }

  .search-container.active > .search-input,
  .search-container:hover > .search-input{
    width: 20vw;

    background: #fff;
    height: 2em;
    border-radius: 30px 0px 0px 30px;
    padding: 0.5em 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-container.active > .search-btn,
  .search-container:hover > .search-btn{
    background: #fff;
    height: 2em;
    border-radius: 0px 30px 30px 0px;
    padding: 0.5em 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  .search-container .search-input {
    width: 0px;
    transition: 0.4s;
  }

}

