<div class="all">
  <img class="logo" src="../../assets/logo/logo_black.png" alt="" srcset="" (click)="cambiaPagina('home')">



  <div class="subCategory">
    <div class="search-container" [ngClass]="{'active' : searchText != ''}">
      <input [(ngModel)]="searchText" (input)="filterValue()" type="text" name="search" placeholder="Cerca un prodotto..." class="search-input">
      <a class="search-btn">
        <mat-icon style="color: black; cursor: default">search</mat-icon>
      </a>
    </div>

    <div class="drop1" *ngIf="this.username; else notLogged">
      <span class="user" >Ciao, <div class="nomeUtente">{{ username }}</div></span>

      <div class="content">
        <div class="profilo">Il mio profilo</div>
        <div class="logout" (click)="logout()">Logout</div>
      </div>

    </div>

    <ng-template #notLogged>
      <div class="user" (click)="cambiaPagina('login')">Accedi</div>
    </ng-template>

    <app-cart></app-cart>
  </div>
</div>

