<div class="all">
    <img class="logo" src="../../assets/logo/logo_black.png" alt="" srcset="" (click)="cambiaPagina('home')">


<!--  <ul class="flex-menu">-->
<!--    <li class="flex-item"><a href="/">Home</a></li>-->
<!--  </ul>-->

  <div class="subCategory">
<!--    <div class="prodotti" (click)="cambiaPagina('products-page')" routerLink="/products-page" routerLinkActive="active">PRODOTTI</div>-->
    <div class="user">{{ username }}</div>
    <div class="cart">CART</div>
  </div>

<!--  <ul class="menu-flex">-->
<!--    <li class="flex-item"><a class="menu-item" routerLink="/home" routerLinkActive="active" (click)="cambiaPagina('home')">Home</a></li>-->
<!--    <li class="flex-item"><a class="menu-item" routerLink="/chi-sono" routerLinkActive="active" (click)="cambiaPagina('chi-sono')">Chi sono</a></li>-->
<!--    <li class="flex-item"><a class="menu-item" routerLink="/progetti" routerLinkActive="active">Progetti</a></li>-->
<!--    <li class="flex-item"><a class="menu-item" routerLink="/contattami" routerLinkActive="active">Contattami</a></li>-->
<!--  </ul>-->
</div>
