.all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 0.5em;

  background-color: var(--primary-color);
  font-family: "Segoe UI";
}

.logo {
  width: 10vw;
  padding-left: 1em;
  cursor: pointer;
}

/*.flex-menu {*/
/*  list-style-type: none;*/
/*  display: flex;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

.subCategory {
  display: flex;
  flex-direction: row;
  margin-right: 3em;
}

.prodotti {
  margin-right: 1em;
}

.user {
  margin-right: 1em;
}

.cart {

}
