<div [ngStyle]="{'color': isCartOpen ? 'white' : 'black' }" class="cart" (click)="showMenu()">
  <mat-icon>shopping_basket</mat-icon>
</div>

<div class="cartMenu" *ngIf="this.cartService.getIsCartOpen() | async">
  <div *ngIf="orderProducts?.length! > 0">
    <div class="cartTitle">Carrello:</div>
    <mat-card *ngFor="let product of orderProducts" class="cartProduct">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ product.nomeProdotto }}</mat-card-title>
          <mat-card-subtitle>Q. {{ product.quantita }}</mat-card-subtitle>
          <img class="imgCartProduct" mat-card-sm-image src="{{ product.fistPhoto.url }}"  alt="">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ product.costoTotalePerProdotto }}
      </mat-card-content>
    </mat-card>
    <button mat-fab extended style="text-align: center;background-color: var(--primary-color)">
      <mat-icon>payments</mat-icon>
      Acquista
    </button>
  </div>

  <div class="empty" *ngIf="orderProducts?.length === 0">
    Carrello vuoto
  </div>

</div>
