.pagination {
  margin-right: 4em;
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8d8d8;
  padding: 0.3em;
  border-radius: 10px;
}

.pagination-element {
  cursor: pointer;
  display: inline-block;
}

.pagination-element-arrow {
  cursor: pointer;
  display: inline-block;
  padding: 0.2em;
}

.pagination-element a {
  color: black;
  float: left;
  padding: 4px 10px;
  text-decoration: none;
}

.pagination-element-arrow a {
  color: black;
  float: left;
  text-decoration: none;
}

.active-page {
  background-color: var(--primary-color);
  color: white !important;
  border-radius: 50%;
  margin: 0.2em;
}

.pagination-element:hover a {
  background-color: var(--primary-color) !important;
  color: white !important;
  border-radius: 50%;
  margin: 0.2em;
}


@media screen and (max-width: 1000px) {
  .pagination {
    margin-right: 0;
    justify-content: center;
  }
}
