.all {
  background-image: linear-gradient(to left top, #5f9ea0, #497879, #355354, #213232, #0c1313);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 0;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.macroForm {
  background-color: white;
  border-radius: 1em;
  width: auto;
  height: auto;
  align-self: center;
  padding-bottom: 1em;
  z-index: 1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20vw;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  border-top: 1px #c7c7c7 solid;

  padding: 0 5em 0 5em;
}


.titoli {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;

  gap: 0.5em;
}


.titolo {
  font-weight: 600;
  font-size: 1.5em;
}

.anagrafica {
  width: 100%;
  margin-top: 2em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.credenziali {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 100%;

  justify-content: space-between;
}

.email {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  /*border: 1px #c7c7c7 solid;*/
  padding-bottom: 1em;
  border-radius: 1em;
}

.password {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  /*border: 1px #c7c7c7 solid;*/
  padding-bottom: 1em;
  border-radius: 1em;
}

.registerButton {
  margin: 1em 0 0.5em 0;
  width: 100%;

  cursor: pointer;
  transition-duration: 0.2s;
  padding: 0.5em;
  border-radius: 10px;


  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.registerButton:hover {
  background-color: white;
  color: black;
}

label {
  margin-bottom: 0.5em;
  font-size: 1em;
}


input {
  font-size: 1em;
  padding: 0.5em;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}

select {
  font-size: 1em;
  padding: 0.5em;

  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}

option {
  font-size: 1em;
  padding: 0.5em;
}


input:focus {
  outline: none;
  border-bottom: 3px solid var(--primary-color);
  transition-duration: 0.2s;
}

.dataNascitaSesso {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

#sessoLabel {
  display: inline;
  margin: 1em;
}

.luogoResidenza {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statoComune {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

.indirizzoCivicoCAP {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

.inputType {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.inputTypeEnum {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

#civico {
  width: 3em;
  text-align: center;
}

#CAP {
  width: 7em;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 0.8em;
  padding-top: 0.4em;
}

@media screen and (max-width: 1400px) {
  .luogoResidenza {
    display: block;
  }
}
