<div class="productList" *ngIf="productList.length !== 0">
  <app-product-module *ngFor="let product of productList" [idProduct]="product.idProduct" [titolo]="product.productName" [avaiable]="product.available" [costoTotale]="product.productCost" [urlImg]="product.firstPhotoResponse.url"></app-product-module>
</div>

<div *ngIf="paginatorResponse">

  <!--  TODO: aggiungere logica al paginaror -->
  <mat-paginator [length]="paginatorResponse.totalPages"
                 [pageSize]="paginatorResponse.totalElements"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</div>

<div class="no-product-warn" *ngIf="productList.length === 0">
  Al momento non è disponibile nessun prodotto.
</div>
