:root {
  --primary-color: #5F9EA0;
}

body {
  margin: 0;
  font-family: UlagadiSansRegular;
}

@font-face {
  font-family: 'UlagadiSansRegular';
  src: url('/assets/fonts/ulagadi/UlagadiSansRegular.ttf');
}

/*@font-face {*/
/*  font-family: 'WoodlandBold';*/
/*  src: url('/assets/fonts/PPWoodland-Bold.otf');*/
/*}*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
