<div class="all">

  <div class="macroForm">
    <div class="logo-container">
      <img class="logo" src="../../assets/logo/logo_black.png">
    </div>

    <div class="form" [formGroup]="loginForm">
      <div class="titoli">
        <div class="titolo">Login</div>
        <div class="sottoTitolo">Esegui il login con le tue credenziali.</div>
      </div>

     <div class="credenziali">
       <div class="email">
         <label for="email">Indirizzo email: </label>
         <input type="text" id="email" name="email" formControlName="email">
       </div>

       <div class="password">
         <label for="password">Password: </label>
         <input type="password" id="password" name="password" formControlName="password">
       </div>
     </div>

      <button class="loginButton" type="submit" (click)="onLogin()">Login</button>
    </div>
  </div>
</div>
