.all {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin: 2em 5em 1em 5em;

  height: 80vh;
}

.body {
  width: 50vw;
  text-align: left;

  /*border: 0.5px #FDFDFD solid;*/
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* TODO: da commentare */

  margin-left: 2em;
  padding-left: 2em;
}

.imgProduct {
  width: 45vw;
  height: 85vh;
}

.title {
  font-size: 2.5em;
  /*padding: 0.5em 1em 0.2em 1.5em;*/
  padding: 0.5em 1em 0.2em 0;
}

.venditore {
  padding-left: 0.2em;
  font-size: 0.8em;
}

.venditoreNome {
  display: inline;
  cursor: pointer;
}

.venditoreNome:hover {
  color: var(--primary-color);
}

.prezzo {
  padding-left: 0.2em;
  margin-top: 0.5em;
}

@media screen and (max-width: 1000px) {
  .all {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 1em;
  }

  .imgProduct {
    height: 60vh;
  }

  .body {
    margin-left: 0;
    margin-top: 4em;
    width: 45vw;
    /*height: 85vh;*/
  }
}
