.all {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.image-detail-section {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 2em 5em 1em 5em;
  /*height: 80vh;*/
}

.body {
  width: 40vw;
  text-align: left;

  /*border: 0.5px #FDFDFD solid;*/
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* TODO: da commentare */

  margin-left: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.imgProduct {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-size: 2.5em;
  padding: 0.5em 1em 0.2em 0;
}

.venditore {
  padding-left: 0.2em;
  font-size: 1.3em;
}

.venditoreNome {
  display: inline;
  cursor: pointer;
}

.venditoreNome:hover {
  color: var(--primary-color);
}

.quantita {
  margin-top: 2em;
  padding-left: 0.3em;
}

.selectQuantita {
  width: 4em;
  margin-top: 0.8em;
  margin-left: 0.3em;
  padding: 0.3em;
  border: 1px solid #dcd4d4;
  border-radius: 10px;
}

.prezzo {
  padding-left: 0.3em;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.colore {
  margin-top: 2em;
  padding-left: 0.3em;
  display: flex;
  flex-direction: column;
}

.coloreRadio {
  display: flex;
  flex-direction: row;
}

.colorLabel {
  display: block;
  width: 1em;
  margin-right: 1em;
  margin-top: 0.4em;
}

.colorLabel > input {
  visibility: hidden;
  position: absolute;
}

.colorLabel > input + div {
  cursor: pointer;
  border: 2px solid transparent;
}

.colorLabel > input:checked + div {
  background-color: #ffd6bb;
  border: 2px solid black;
}

.colorValue {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.acquistaButton {
  /*margin: 1.5em 0 0 0;*/
  margin: 4em auto 0 auto;
  width: 80%;


  cursor: pointer;
  transition-duration: 0.2s;
  padding: 0.5em;
  border-radius: 10px;


  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.acquistaButton:hover {
  background-color: white;
  color: black;
}

.bodyImg {
  width: 40vw;
  height: 80vh;
}



@media screen and (max-width: 1000px) {
  .image-detail-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
  }

  .imgProduct {
    height: auto;
  }

  .body {
    margin-left: 0;
    width: 45vw;
  }

  .bodyImg {
    height: auto;
  }
}
