<div class="all" *ngIf="productResponse">

  <div class="bodyImg">
    <img class="imgProduct" [src]="productResponse.photoResponses[0].url" alt="">
  </div>

  <div class="body">
    <div class="title">{{productResponse.productName}}</div>

    <div class="venditore">Venduto da: <div class="venditoreNome"><b>{{ seller }}</b></div></div>
    <div class="prezzo"><b>€{{productResponse.productCost}}</b></div>

<!--    <div class="colore" *ngIf="productResponse.type === 'dress'">-->
    <div class="colore">
      <div class="coloreText"> <b> Colore </b></div>
      <div class="radio">

        <div *ngFor="let color of productResponse.colorsResponse">
          <label for="color_{{color}}}" class="colorLabel">
            <input id="color_{{color}}}" [value]="color" type="radio" name="colors" [(ngModel)]="radioSelected">
            <div class="colorValue" [style.background-color]="color"></div>
          </label>
        </div>

      </div>

    </div>
  </div>

</div>
